<div class="row" style="padding-top: 2%;">
    <div class="container row col-lg-3 ">
        <div class=" row col-lg-10 " style="padding-left: 7%;">
            <div class="panel panel-primary  " style="height :410px;">

                <div class="panel-heading">
                    Add Reservation
                </div>
                <div class="panel-body">
                    <div class="row" style="padding-left: 5%;">
                        <form class="form-horizontal" role="form"  name="reservAdd">


                            <div class="form-group">

                                <div class="col-sm-11" ng-class="{ 'has-error': reservAdd.reservDateStart.$invalid && checkForUpdate }">
                                    <input class="form-control"  placeholder="Date start" jqdatepicker
                                        name="reservDateStart"   ng-model="reservationInfo.dateStart" required>

                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-sm-11"
                                     ng-class="{ 'has-error': reservAdd.reservDateEnd.$invalid && checkForUpdate }">
                                    <input type="text" class="form-control"  placeholder="Date end "
                                       name="reservDateEnd"    ng-model="reservationInfo.dateEnd" jqdatepicker required>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-sm-11" ng-class="{ 'has-error': reservAdd.reservDesription.$invalid && checkForUpdate }">
                                    <input class="form-control"  placeholder="Description"
                                          name="reservDesription" ng-model="reservationInfo.description" required>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-sm-11" >
                                    <input class="form-control"  placeholder="login" disabled ="true"
                                           ng-model="account.login" required>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-sm-11" ng-class="{ 'has-error': reservAdd.reservCategory.$invalid && checkForUpdate }">
                                    <select chosen  name="reservCategory" ng-model="categoryForResourceAdd"
                                             style="display: inline-block;"
                                            data-placeholder="select category"
                                            id="categoryReservation"
                                             class="form-control"
                                            ng-options="category.reference as category.nameCategorie  for category in categories
                                            track by category.reference" required>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-sm-11" ng-class="{ 'has-error': reservAdd.reservResource.$invalid && checkForUpdate }">
                                    <select chosen  ng-model="reservationInfo.referenceResource" name="reservResource" placeholder="login"
                                            style="display: inline-block;"
                                            data-placeholder="select category" ,
                                            id="resourceReservation"
                                            class="form-control" ng-options="resource.reference as resource.name  for resource in resourcesByCategoryForAdd
                                            track by resource.reference" required>


                                    </select>
                                </div>
                            </div>



                        </form>
                    </div>
                </div>

            </div>
            <div style="margin-left: 10px;">

                <button class="btn btn-large btn-success" ng-click="add(reservationInfo)">
                    <span class="glyphicon glyphicon-plus"></span> <span
                        >Ajouter</span>
                </button>


                <button class="btn btn-large btn-success" ng-click="initialize()" >
                    <span class="glyphicon glyphicon-refresh"></span> <span>  Inialiser</span>
                </button>

            </div>
        </div>
    </div>
    <div class="container row col-lg-9">
        <div class="panel panel-primary"  style="height :410px;">

            <div class="panel-heading">
                <span  >List of category and resources</span>
            </div>
            <div class="panel-body">

    <!--<button type="button" class="btn btn-default " ng-click="collapse = !collapse"-->
            <!--ng-class="(!collapse && 'glyphicon glyphicon-eye-open') || (collapse && 'glyphicon glyphicon-eye-close')" data-toggle="collapse"-->
            <!--data-target="#cat" ></button>-->
    <div class="row" id="cat" class="collapse in">
        <div class=" col-sm-1 ">
        </div>

        <div class="col-sm-5 ">
            <div class="well">
                <ul class="nav">
                    <li class="alert alert-info"><strong>Select a Category</strong></li>
                    <li ng-repeat="category in categories" ng-bind-html-unsafe="category"
                        ng-click="getResourceByReferenceCategory(category.reference)"><a href="">{{category.nameCategorie}}</a>
                    </li>
                </ul>
            </div>
            <!--/.well -->
        </div>
        <!--/span-->
        <div class=" col-sm-1 ">
        </div>

        <div class="col-sm-5 " id="resource" role="navigation" ng-show="showResourceRelatedToCtagory">
            <div class="well ">
                <ul class="nav">
                    <li class="alert alert-info"><strong>Select a Resource</strong></li>
                    <li ng-repeat="resource in resourcesByCategory" ng-bind-html-unsafe="resource"
                        ng-click="getReservationsByReferenceResources(resource.reference)"><a
                            href="">{{resource.reference +':'+resource.name}}</a></li>
                </ul>
            </div>
            <!--/.well -->
        </div>
        <!--/span-->

        <div class=" col-sm-1 ">
        </div>
    </div>
</div>

<!--==============================================================================================================================-->
<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--==============================================================================================================================-->
<div>
    &nbsp;
</div>


<div>
    <modal title="Add Reservation " id="custom_form" visible="showModalAdd">
        <form class="form-horizontal" role="form">

            <div class="form-group">
                <label for="refrenceReservation" class="col-sm-4 control-label">Reference reservation </label>

                <div class="col-sm-6">
                    <input class="form-control" id="refrenceReservation" placeholder="Reference Reservation "
                           ng-model="reservationInfo.reference">
                </div>
            </div>

            <div class="form-group">
                <label for="dateStart" class="col-sm-4 control-label">Date start</label>

                <div class="col-sm-6">
                    <input class="form-control" id="dateStart" placeholder="Date start" jqdatepicker
                           ng-model="$parent.reservationInfo.dateStart">
                </div>
            </div>

            <div class="form-group">
                <label for="dateEnd" class="col-sm-4 control-label">Date end </label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" id="dateEnd" placeholder="Date end "
                           ng-model="$parent.reservationInfo.dateEnd" jqdatepicker>
                </div>
            </div>

            <div class="form-group">
                <label for="description" class="col-sm-4 control-label">Description</label>

                <div class="col-sm-6">
                    <input class="form-control" id="description" placeholder="Description"
                           ng-model="reservationInfo.description">
                </div>
            </div>

            <div class="form-group">
                <label for="Login" class="col-sm-4 control-label">Login </label>

                <div class="col-sm-6">
                    <input class="form-control" id="Login" placeholder="login" disabled ="true"
                           ng-model="account.login">
                </div>
            </div>

            <div class="form-group">
                <label for="referenceCategory" class="col-sm-4 control-label"> Category</label>

                <div class="col-sm-6">
                    <select  name="category" ng-model="$parent.categoryForResourceAdd"
                            style="display: inline-block;"
                            class="form-control" id="referenceCategory">
                        <option ng-repeat="category in categories" value="{{category.reference}}">
                            {{category.nameCategorie}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="referenceResourcey" class="col-sm-4 control-label"> Resource</label>

                <div class="col-sm-6">
                    <select ng-model="reservationInfo.referenceResource" name="resource" placeholder="login"
                            style="display: inline-block;"
                            class="form-control" id="referenceResourcey">
                        <option ng-repeat="resource in resourcesByCategoryForAdd" value="{{resource.reference}}">
                            {{resource.reference +' : '+resource.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success" ng-click="add(reservationInfo)">Add</button>
                </div>
            </div>

        </form>
    </modal>
</div>

<!--====================================================================================================================-->
<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;update reservation -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--====================================================================================================================-->

<div>
    <modal title="Update Reservation " visible="showModalUpdate">
        <form class="form-horizontal" role="form">


            <div class="form-group">
                <label for="dateStartUpdate" class="col-sm-4 control-label">Date start</label>

                <div class="col-sm-6">
                    <input class="form-control" id="dateStartUpdate" ng-disabled="testForRoles ()"
                           placeholder="Date start" jqdatepicker
                           ng-model="$parent.reservationInfo.dateStart" | date>
                </div>
            </div>

            <div class="form-group">
                <label for="dateEndUpdate" class="col-sm-4 control-label">Date end </label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" ng-disabled="testForRoles ()"
                           id="dateEndUpdate" placeholder="Date end " jqdatepicker
                           ng-model="$parent.reservationInfo.dateEnd" | date>
                </div>
            </div>

            <div class="form-group">
                <label for="descriptionUpdate" class="col-sm-4 control-label">Description</label>

                <div class="col-sm-6">
                    <input class="form-control" id="descriptionUpdate" placeholder="Description"
                           ng-model="reservationInfo.description" disabled="true">
                </div>
            </div>

            <div class="form-group">
                <label for="LoginUpdate" class="col-sm-4 control-label">Login </label>

                <div class="col-sm-6">
                    <input class="form-control" id="LoginUpdate" placeholder="User"
                           ng-model="reservationInfo.loginUser" disabled="true">
                </div>
            </div>


            <div class="form-group">
                <label for="resourceUpdate" class="col-sm-4 control-label"> Resource</label>

                <div class="col-sm-6">
                    <input class="form-control" id="resourceUpdate" placeholder="Resource"
                           ng-model="reservationInfo.referenceResource" disabled="true">
                </div>
            </div>
            <div class="form-group center-block">
                <div class="col-sm-3 col-sm-10">
                </div>
                <div class="col-sm-3 col-sm-10">
                    <button type="submit" class="btn btn-success" ng-disabled="testForRoles ()"
                            ng-click="update(reservationInfo)">Update
                    </button>
                </div>
                <div class="col-sm-3 col-sm-10">
                    <button type="submit" class="btn btn-danger" ng-disabled="testForRoles ()"
                            ng-click="toggleModalDelete()">Delete
                    </button>
                </div>
                <div class="col-sm-3 col-sm-10">
                </div>
            </div>

        </form>
    </modal>
</div>



</div>
</div>
</div>
</div>
</div>

<div class="col-sm-1" ng-show="eventsResourceRelatedToResource">
    &nbsp;&nbsp;
</div>

<div class="btn-primary col-lg-12 text-center" ng-show="eventsResourceRelatedToResource">
    <h4> calendar events </h4>
</div>
<div dhx-scheduler style="height: 350px;; width:100%;" data="events" class="alert alert-warning"
     ng-show="eventsResourceRelatedToResource">
    <div class="dhx_cal_prev_button alert-danger">&nbsp;</div>
    <div class="dhx_cal_next_button">&nbsp;</div>
    <div class="dhx_cal_today_button"></div>
    <div class="dhx_cal_date"></div>
    <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
    <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
    <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>

    <div dhx-template="event_bar_text">
        <strong>#{{event.id}}</strong>: {{event.text | uppercase}}
    </div>

</div>


<div>
    <modal title="Error add category " visible="showModalError">
        <div class=" alert alert-danger">
            <strong>Add reservation  failed!</strong>{{error.data.errorMessage}}.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

    </modal>
    <div>

        <div>
            <modal title="Success add category " visible="showModalSucess">
                <div class=" alert alert-success">
                    <strong>Operation reservation sucessed!</strong>.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </modal>
            <div>

                <div>
                    <modal title="Confirm delete" visible="showModalDelete">
                        <div class="modal-body alert-info">
                            are you sure to reservation this reservation
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-danger btn-ok" ng-click="delete(reservationInfo)">Delete</a>
                        </div>

                    </modal>
                    <div>