<div class="row" style="padding-top: 2%;">
    <div class="container row col-lg-3 ">
        <div class=" row col-lg-10 " style="padding-left: 7%;">
            <div class="panel panel-primary  ">

                <div class="panel-heading">
                    Add Resource
                </div>
                <div class="panel-body">
                    <div class="row" style="padding-left: 5%;">
                        <form class="form-horizontal" role="form" name="resAdd">

                            <div class="form-group">

                                <div class="col-sm-11" ng-class="{ 'has-error': resAdd.resRef.$invalid && checkForUpdate }">
                                    <input class="form-control"  placeholder="Reference resource "
                                          name="resRef" ng-model="resourceInfo.reference" required>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-sm-11" ng-class="{ 'has-error': resAdd.resName.$invalid && checkForUpdate }">
                                    <input class="form-control"  placeholder="Name resource"
                                          name="resName" ng-model="resourceInfo.name" required>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-sm-11" ng-class="{ 'has-error': resAdd.resDescription.$invalid && checkForUpdate }">
                                    <input class="form-control"  placeholder="Description resource "
                                           name="resDescription" ng-model="resourceInfo.description" required>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-sm-11" ng-class="{ 'has-error': resAdd.resCategory.$invalid && checkForUpdate }">
                                    <select chosen id="categoryAdd" ng-model="resourceInfo.referenceCategory"
                                             style="display: inline-block;"
                                            data-placeholder="Select category"
                                            no-results-text="'pas de resultat '"
                                            name="resCategory"
                                            class="form-control"  required
                                            ng-options="category.reference as category.nameCategorie  for category in categories
                                            track by category.reference"
                                            >
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-sm-11" ng-class="{ 'has-error': resAdd.resTypeDate.$invalid && checkForUpdate }">
                                    <select chosen id="typeDateAdd" ng-model="resourceInfo.typeDate"
                                            no-results-text="'pas de resultat '"
                                            data-placeholder="Choisir le type date" class="form-control" required
                                            name="resTypeDate"
                                            ng-options="typeDate as typeDate  for typeDate in typeDates
                                            track by typeDate"
                                            >

                                    </select>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-sm-11" ng-class="{ 'has-error': resAdd.resMaxDuree.$invalid && checkForUpdate }">
                                    <input class="form-control"  placeholder="Duree Max" name="resMaxDuree"
                                           ng-model="resourceInfo.dureeMax" required>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
            <div style="margin-left: 10px;">

                <button class="btn btn-large btn-success">
                    <span class="glyphicon glyphicon-plus"></span> <span
                        ng-click="add(resourceInfo)">Ajouter</span>
                </button>


                <button class="btn btn-large btn-success">
                    <span class="glyphicon glyphicon-refresh"></span> <span
                        ng-click="initialize()">  Inialiser</span>
                </button>

            </div>
        </div>
    </div>
    <div class="container row col-lg-9">

        <div class="panel panel-primary ">

            <div class="panel-heading">
                <span  >List of Category</span>
            </div>
            <div class="panel-body">

    <table st-table="categories" class="table table-bordered">
        <thead>
        <tr class="alert alert-info">
            <th st-sort="nameCategory">Name resource</th>
            <th st-sort="reference">Reference resource</th>
            <th st-sort="nameCategory">description category</th>
            <th st-sort="reference">Name category</th>
            <th st-sort="nameCategory">Type date</th>
            <th st-sort="reference">Duree max</th>
            <th st-sort="reference">Update category</th>
            <th st-sort="reference">Delete category</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in resources" class="alert-info alert-warning">
            <td>{{row.name | uppercase}}</td>
            <td>{{row.reference}}</td>
            <td>{{row.description }}</td>
            <td>{{findCategory(row.referenceCategory)}}</td>
            <td>{{row.typeDate }}</td>
            <td>{{row.dureeMax}}</td>
            <td>
                <p data-placement="top" data-toggle="tooltip" title="Edit">
                    <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"
                            ng-click="toggleModalUpdate(row)">
                        <span class="glyphicon glyphicon-pencil"></span></button>
                </p>
            </td>
            <td>
                <p data-placement="top" data-toggle="tooltip" title="Delete">
                    <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"
                            ng-click="toggleModalDelete(row)">
                        <span class="glyphicon glyphicon-trash"></span></button>
                </p>
            </td>

        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="8" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
            </td>
        </tr>
        </tfoot>
    </table>



            <div>
                <modal title="Update Resource" visible="showModalUpdate">

                    <form class="form-horizontal" role="form">

                        <div class="form-group">
                            <label for="refrenceResource" class="col-sm-4 control-label">Reference resource </label>

                            <div class="col-sm-6">
                                <input class="form-control" id="refrenceResource" placeholder="Reference category "
                                       ng-model="selectedResource.reference" disabled = "true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="nameResource" class="col-sm-4 control-label">name resource</label>

                            <div class="col-sm-6">
                                <input class="form-control" id="nameResource" placeholder="Name category"
                                       ng-model="selectedResource.name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="descriptionCategory" class="col-sm-4 control-label">Description
                                Category </label>

                            <div class="col-sm-6">
                                <input class="form-control" id="descriptionCategory" placeholder="Reference category "
                                       ng-model="selectedResource.description">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="referenceCategory" class="col-sm-4 control-label"> category</label>

                            <div class="col-sm-6">
                                <select ng-model="selectedResource.referenceCategory" name="category"
                                        style="display: inline-block;"
                                        class="form-control" id="referenceCategory">
                                    <option ng-repeat="category in categories" value="{{category.reference}}" >
                                        {{category.nameCategorie}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="typeDate" class="col-sm-4 control-label">Type date </label>

                            <div class="col-sm-6">
                                <select ng-model="selectedResource.typeDate" id="typeDate" class="form-control">
                                    <option value="HOUR" selected="selected">HOUR</option>
                                    <option value="DAY">DAY</option>
                                    <option value="WEEK">WEEK</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="dureeMax" class="col-sm-4 control-label">Duree max</label>

                            <div class="col-sm-6">
                                <input class="form-control" id="dureeMax" placeholder="Name category"
                                       ng-model="selectedResource.dureeMax">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success" ng-click="update()">update</button>
                            </div>
                        </div>


                    </form>
                </modal>
                <div>

                </div>
            </div>
        </div>
    </div>

        <div>
            <modal title="Error add Resource  " visible="showModalError">
                <div class=" alert alert-danger">
                    <strong>Add Resource failed!</strong>{{error.data.errorMessage}}.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </modal>
            <div>

                <div>
                    <modal title="Success add resource " visible="showModalSucess">
                        <div class=" alert alert-success">
                            <strong>Operation resource sucessed!</strong>.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>

                    </modal>
                    <div>

                        <div>
                            <modal title="Confirm delete" visible="showModalDelete">
                                <div class="modal-body alert-info">
                                    are you sure to delete this resource
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <a class="btn btn-danger btn-ok" ng-click="delete()">Delete</a>
                                </div>

                            </modal>
                            <div>