<nav class="navbar navbar-default " role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse " id="navbar-collapse" >
            <ul class="nav navbar-nav nav-pills navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="category" >
                        <span class="glyphicon glyphicon-tasks"></span>
                        <span translate="global.menu.categorie">Categorie</span>
                    </a>
                </li>
                <li ui-sref-active="active" >
                    <a ui-sref="resource">
                        <span class="glyphicon glyphicon-modal-window"></span>
                        <span translate="global.menu.resource">Resource</span>
                    </a>
                </li>
                <li ui-sref-active="active" >
                    <a ui-sref="reservation">
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <span translate="global.menu.reservation">Reservation</span>
                    </a>
                </li>
                <li ui-sref-active="active" >
                    <a ui-sref="statistique">
                        <span class="glyphicon glyphicon-dashboard"></span>
                        <span translate="global.menu.statistique">statistique</span>
                    </a>
                </li>
                <li ui-sref-active="active" class="dropdown pointer" ng-controller="LanguageController">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-flag"></span>
                                    <span class="hidden-tablet" translate="global.menu.language">Language</span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li active-menu="{{language}}" ng-repeat="language in languages">
                            <a href="" ng-click="changeLanguage(language)">{{'language.' + language| translate}}</a>
                        </li>
                    </ul>
                </li>
               </ul>
           </div>
       </div>

   </nav>
