<div class="row" style="padding-top: 2%;">
    <div class="container row col-lg-3 ">
        <div class=" row col-lg-10 " style="padding-left: 7%;">
            <div class="panel panel-primary  ">

                <div class="panel-heading">
                    Add Category
                </div>
                <div class="panel-body">
                    <div class="row" style="padding-left: 5%;">
                        <form class="form-horizontal" role="form" name="catAdd" data-toggle="validator">

                            <div class="form-group">

                                <div class="col-sm-11 center" ng-class="{ 'has-error': catAdd.catRef.$invalid && checkForUpdate }">
                                    <input class="form-control" placeholder="Reference category "
                                           type="text" name="catRef" ng-model="categorieInfo.reference" required="true">
                                </div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error': catAdd.catName.$invalid && checkForUpdate }">

                                <div class="col-sm-11 center">
                                    <input class="form-control" placeholder="Name category" name="catName"
                                           ng-model="categorieInfo.nameCategorie" required>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
            <div style="margin-left: 10px;">

                <button class="btn btn-large btn-success" ng-click="add(categorieInfo)">
                    <span class="glyphicon glyphicon-plus"></span> <span
                        >Ajouter</span>
                </button>


                <button class="btn btn-large btn-success" ng-click="initialize()">
                    <span class="glyphicon glyphicon-refresh"></span> <span
                        >Inialiser</span>
                </button>

            </div>
        </div>
    </div>
    <div class="container row col-lg-9">


        <div class="panel panel-primary ">

            <div class="panel-heading">
                <span translate="category.title">categories</span>
            </div>
            <div class="panel-body">

                <table st-safe-src="rowCollection" st-table="categories"
                       class="table table-striped table-bordered table-hover dataTable no-footer"
                       style="background-color: #FFFFFF">
                    <thead>
                    <tr class="alert alert-info">
                        <th st-sort="nameCategory">Name category</th>
                        <th st-sort="reference">Reference category</th>
                        <th st-sort="reference">Update category</th>
                        <th st-sort="reference">Delete category</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in categories" class="alert-info alert-warning">
                        <td>{{row.nameCategorie | uppercase}}</td>
                        <td>{{row.reference}}</td>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Edit">
                                <button class="btn btn-info btn-xs center-block" data-title="Edit" data-toggle="modal"
                                        data-target="#edit"
                                        ng-click="toggleModalUpdate(row)">
                                    <span class="glyphicon glyphicon-pencil"></span></button>
                            </p>
                        </td>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Delete">
                                <button class="btn btn-danger btn-xs center-block" data-title="Delete"
                                        ng-click="toggleModalDelete(row)">
                                    <span class="glyphicon glyphicon-trash"></span></button>
                            </p>
                        </td>

                    </tr>
                    </tbody>
                    <!--<tfoot>-->
                    <!--<tr>-->
                    <!--<td colspan="5" class="text-center">-->
                    <!--<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="5"></div>-->
                    <!--</td>-->
                    <!--</tr>-->
                    <!--</tfoot>-->
                </table>
            </div>
        </div>

        <div>
            <modal title="Update category" visible="showModalUpdate">
                <form class="form-horizontal" role="form">

                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Reference Category </label>

                        <div class="col-sm-6">
                            <input class="form-control" id="inputEmail3" placeholder="Reference category "
                                   ng-model="selectedCategory.reference" disabled="true">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputName3" class="col-sm-4 control-label">name category</label>

                        <div class="col-sm-6">
                            <input class="form-control" id="inputName3" placeholder="Name category"
                                   ng-model="selectedCategory.nameCategorie">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success" ng-click="update()">Update</button>
                        </div>
                    </div>


                </form>
            </modal>
            <div>


                <div>
                    <modal title="Error add category " visible="showModalError">
                        <div class=" alert alert-danger">
                            <strong>Add category failed!</strong>{{error.data.errorMessage}}.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>

                    </modal>
                    <div>

                        <div>
                            <modal title="Success add category " visible="showModalSucess">
                                <div class=" alert alert-success">
                                    <strong>Operation category sucessed!</strong>.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>

                            </modal>
                            <div>

                                <div>
                                    <modal title="Confirm delete" visible="showModalDelete">
                                                    <div class="modal-body alert-info">
                                                        are you sure to delete this catgory
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                        <a class="btn btn-danger btn-ok" ng-click="delete()">Delete</a>
                                                    </div>

                                    </modal>
                                    <div>
